Package: netcargprs
Priority: optional
Version: 0.0.1
Architecture: arm
Maintainer: Younghun Kim <kimyh@ucla.edu>
Depends: bing
Section: misc
Source: http://projects.nesl.ucla.edu/netcar
Description: GPRS bing, ping and slog them
