Package: netcarroot
Priority: optional
Version: 0.0.2
Architecture: arm
Maintainer: Younghun Kim <kimyh@ucla.edu>
Depends: 
Section: comm
Source: http://www.seas.ucla.edu/~kimy
Description: This is netcarroot, this main root includes /etc/netcarinit/netcatinit  milestone sciprt will call this script at the end of it. This will install all dependent packages. /etc/netcarinit/run inittab script respawns this run. You may place executable file in it. 
